{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="w-full" {{ react_component('Index', {username: app.user ? app.user.username : null, publications: publications}) }}>
    </div>
{% endblock %}
